@font-face {
  font-family: "HelvNeueLightExt";
  src: url("../type/HelveticaNeueLTStd-LtEx.otf");
}
@font-face {
  font-family: "HelvNeueLightExt";
  font-style: italic;
  src: url("../type/HelveticaNeueLTStd-LtExO.otf");
}

html {
    color: #222;
    font-size: 1.3em;
    line-height: 1.4;
    font-family: "HelvNeueLightExt";
    color: white;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*__________________*/
/*sizing the videos:*/
/*——————————————————*/

body {
    background-color: black;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

a{
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: underline;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.fullscreenBg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* overflow: hidden; */
    z-index: -100;
    background-color: black;
    /* background: url("../img/logo_v2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
}

.fullscreenBg > video {
  background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.fullscreenBg > img {
  background-color: #D1D0D1;
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); */
}

.videoPlaylist {
  /* background: url("../img/logo_v2.png"); */
  display: none;
}


/*__________________*/
/*logoContainer:    */
/*——————————————————*/

#videoWrapper {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  /* margin: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: move;
}
#videoWrapper > img {
  max-width: 60%;
  max-height: 60%;
}
.logoContainer.logo{
  width: 100%;
}
.logoContainer.logo>img{
  width: 50%;
  margin-left: 25%;
}
.logo{
  cursor: pointer;
}
.logoContainer.top-bar, .logoContainer.bottom-bar {
  width: calc(100% - 2em);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.3px solid white;
}
.logoContainer.bottom-bar {
  margin-bottom: 1em;
}
.logoContainer.info{
  padding: 1em 0.1em 0.5em 0.1em;
}
.logoContainer.info.title{
  font-style: italic;
}
.logoContainer.info.title:hover{
  text-decoration: underline;
}

.logoContainer.info.click{
  width: 100%;
  text-align: center;
  animation: blinker 4s linear infinite;
  cursor: pointer;
}
.vimeo-wrapper {
  position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   pointer-events: none;
   overflow: hidden;
   opacity: 0.1;
}
.vimeo-wrapper iframe {
   width: 100vw;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 100vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.ui-dialog{
  z-index: 20000;
  /* font-size: 0.9em; */
  border-radius: 0.5em;
  background: white;
  color: black;
  padding: 1em;
}
.ui-dialog .ui-dialog-title{
  font-weight: normal;
  font-style: italic;
  margin: 0 0 0.5em 0;
}
.ui-draggable .ui-dialog-titlebar{
  padding: 0;
}
.ui-dialog .ui-dialog-content{
  padding: 0;
}
p {
  margin-block-start: 0;
    margin-block-end: 0.5em;
}

@media (max-width: 1024px) {
  html{
    font-size: 1em;
  }
  .logoContainer.top-bar{
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .logoContainer.info.name{
    padding-top: 0;
  }
  .logoContainer.info.title{
    padding-bottom: 0;
  }
  .logoContainer.logo>img{
    width: calc(100% - 1em);
    margin-left: 0.5em;
  }
}
